.animasi-video {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7fbdfc;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
video {
  width: 100%;
  height: auto;
}
